body{

  color: #0074d9;
  font-size: 18px;
  margin: 30px;
  background-image: url(logo-yellow.svg);
  background-size: 80vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;

}

header {
 	display: block; 
  position: fixed;
  width: 100vw;
 	}

section { 

}

.vh1 {
  height: 100%;
}

p {
  display: block;
  float: left;
 
}

a {
  color: red;
  
  float: right;
  
  text-decoration: none;
}

a:hover{
  color: #0074d9;
}


