body{

  color: #0074d9;
  font-size: 18px;
  margin: 30px;
  background-image: url(logo-yellow.svg);
  background-size: 80vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;

}

header {
 	display: block; 
  position: fixed;
  width: 100%;
 	}

section { 
<<<<<<< HEAD

=======
	
>>>>>>> 3f0819afc5fb5e4225de9e602ed519b231a6ec67
}

.vh1 {
  height: 100%;
}

p {
  display: block;
  float: left;
 
}

a {
  color: red;
  
  float: right;
  
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    color: #0074d9; /* solves sticky problem */
  }
}


